@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 83% 4%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 327 89% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 183 98% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 183 98% 50%;
    --radius: 0.8rem;
    --chart-1: 183 98% 50%;
    --chart-2: 327 89% 49%;
    --chart-3: 48 96% 59%;
    --chart-4: 221 83% 53%;
    --chart-5: 298 81% 64%;
    --sidebar-background: 222 83% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 48 96% 59%;
    --sidebar-primary-foreground: 24 9.8% 10%;
    --sidebar-accent: 222 47% 11%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 48 96% 59%;
  }
  .dark {
    --background: 222 83% 4%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 327 89% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 183 98% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 183 98% 50%;
    --sidebar-background: 222 83% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 48 96% 59%;
    --sidebar-primary-foreground: 24 9.8% 10%;
    --sidebar-accent: 222 47% 11%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 48 96% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
